<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pankaj.chowkhunda">
    <uses-permission android:name="com.android.vending.BILLING" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        <meta-data android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id"/>
        <activity
            android:name="com.pankaj.chowkhunda.Start"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pankaj.chowkhunda.Play"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Settings"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Finale"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Last_level"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Firstworst"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".About"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Timebomb"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Multiandroid"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Type_multi"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ScoreBoard"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Sublevels"
            android:label="@string/app_name"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".ScoreBoardfw"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ScoreBoardtb"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Store"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Colors"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Levels"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
    <activity android:name=".Paused"
        android:label="@string/app_name"
        android:screenOrientation="portrait">
    </activity>
    </application>

</manifest>
